@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #ffff;
  }
}

body {
  background: #ffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.signupBg {
  background-image: url("/homeIllus.svg");
  background-size: 180%;
  background-position: 40% 40%;
  background-repeat: "no-repeat";
  position: relative;
  height: 100vh;
  width: 100%;
}

.loginBg {
  background-image: url("/homeIllus.svg");
  background-size: 195%;
  background-position: 80% 50%;
  background-repeat: "no-repeat";
  position: relative;
  height: 100vh;
  width: 100%;
}
